<?xml version='1.0' encoding='utf-8'?>

<widget id="com.phonegap.juego.paleta"
		version="1.0.0" 
		xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap="http://phonegap.com/ns/1.0">
		
    <name>Paleta de Fronton</name>
	
    <description>
        Paleta de frontón:
		Es un juego de frontón simple.
		Con una paleta hay que golpear la bola el maximo numero de veces posible.
		La paleta se desplaza oscilando el movil de izquierda a derecha.
		Cada golpe es 1 punto. Tienes 4 vidas.
    </description>
	
    <author email="jden.reticas@gmail.com" 
			href="http://reticas.com">
			reticas
    </author>

    <!-- Define app icon for each platform. -->
	        <!--
            ldpi    : 36x36 px
            mdpi    : 48x48 px
            hdpi    : 72x72 px
            xhdpi   : 96x96 px
            xxhdpi  : 144x144 px
            xxxhdpi : 192x192 px
    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
		-->
	    <!--		
    <icon src="res/mipmap/icon.png" />
    <icon src="res/mipmap-ldpi-v4/icon.png"   platform="android"    qualifier="ldpi" />
    <icon src="res/mipmap-mdpi-v4/icon.png"   platform="android"    qualifier="mdpi" />
    <icon src="res/mipmap-hdpi-v4/icon.png"   platform="android"    qualifier="hdpi" />
    <icon src="res/mipmap-xhdpi-v4/icon.png"  platform="android"    qualifier="xhdpi" />
		-->
		
    <icon src="res/mipmap/icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   platform="android"    qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   platform="android"    qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   platform="android"    qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  platform="android"    qualifier="xhdpi" />
		
	<!-- all platforms (opcional)
		<preference name="fullscreen" value="true" />	
		<preference name="orientation" value="portrait landscape" />
		<preference name="orientation" value="portrait" />
	-->
   
  
    <!--
		Opcional <content>
		elemento define la página de inicio de la aplicación en el directorio web de alto nivel de activos.
		El valor predeterminado es index.html, que habitualmente aparece en el directorio de nivel superior www de un proyecto.
	-->
    <content src="index.html" />

    <!--
        Define access to external domains.
        <access origin="*" /> - Etiqueta de acceso comodín: permite el acceso a todos los recursos externos.
    -->
    <access origin="*" />
	
	<!--
	La ubicación de almacenamiento persistente de Android ahora se establece de manera predeterminada en "Interna".
	Compruebe el archivo README de este complemento para ver si su aplicación necesita algún cambio en su config.xml.
	
	Si esta es una nueva aplicación, no se requieren cambios.
	Si se trata de una actualización de una aplicación existente que no especificó un "AndroidPersistentFileLocation",
	es posible que deba agregar:
		"<preference name =" AndroidPersistentFileLocation "value =" Compatibility "/>"
	a config.xml para que la aplicación encuentre archivos almacenados previamente.
	-->
	
	<preference name="AndroidPersistentFileLocation" value="Compatibility" />

	<!--
		Preferencias requeridas por GOOLGLE Console como nivel de seguridad API
    -->
	<preference name="android-minSdkVersion" value="15" />
	<preference name="android-targetSdkVersion" value="26" />

		
    <!-- Plugins -->
    <!-- Core plugins -->
	<plugin name="cordova-plugin-whitelist" /> <!-- spec="1.3.3" -->
    <plugin name="cordova-plugin-device-motion" /> <!-- spec="2.0.0" -->

</widget>
