<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pongoyquito.juego.practica-1" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Juego-Ejercicio</name>
    <description>
        Juego de fronton. Con una paelta hay que golpear la bola el maximo numero de veces posible. Tienes 4 vidas.
    </description>
    <author email="david.escarti@gmail.com" href="">
        Practicas de juegos
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist"/>
    <plugin name="cordova-plugin-device-motion"/>
</widget>
